.wrapper-admission-requirements {
  background: #ECF3FB;
  padding: 40px 3rem;
  margin-top: 6rem;

  h3 {
    margin-top: 0;
    padding-top: 0;
  }
}

.admission-requirements {
  display: flex;
  gap: 40px;

  .tag {
    background-color: #008f95;
    max-width: max-content;
    padding: 10px;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .wrapper-admission-requirements {
    padding: 40px 16px;
  }

  .admission-requirements {
    flex-direction: column;
  }
}
