.course-and-message {
  display: flex;
  gap: 100px;

  .course-name {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 40px;
    }
    div {
      font-family: 'Montserrat-bold', sans-serif;
      color: #0B1741;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  a {
    text-decoration: none;
    font-family: 'Montserrat-bold', sans-serif;
    color: #0B1741;
  }

  .director-message {
    display: flex;
    gap: 50px;
    width: 75%;

    .img-wrapper {
      margin-top: 6rem;
      img {
        border-radius: 100%;
        width: clamp(120px, 25vw, 140px);
      }
    }

    p {
      font-size: 14px;
      font-family: 'Montserrat-medium', sans-serif;
    }
  }

  .director-message__hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height .8s ease,
      opacity .5s ease;
  }

  .director-message__hidden.open {
    max-height: 2500px;
    opacity: 1;
  }

  .read-more {
    margin-top: 2rem;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #0B1741;
    font-family: 'Montserrat-bold', sans-serif;
  }
}

@media (max-width: 900px) {
  .director-message, .course-and-message {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .director-message .img-wrapper {
    margin-top: 0;
  }
}
