.partners {
  padding: 2rem;
  background:#fff;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
  gap: 20px;
  align-items: center;
  border-top: 1px solid #edf2f7;
}

.partner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  max-width: 100%;
  max-height: 90px;
  object-fit: contain;
}
