@import url("./fonts.css");
@import url("./header.css");
@import url("./welcome.css");
@import url("./stats.css");

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  font-family: 'Montserrat-light', sans-serif;
}

.main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
