@import url("./fonts.css");
@import url("./header.css");
@import url("./welcome.css");
@import url("./stats.css");
@import url("./testimonial.css");
@import url("./director_message.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  font-family: 'Montserrat-light', sans-serif;
  background-color: white;
}

.main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: clamp(18px, 2vw, 22px);
  font-family: 'Montserrat-bold', sans-serif;
  color: #0B1741;
  padding-top: 2rem;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
